# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
log.txt
*.app

cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Makefile

build/

vcpkg_installed

stereo

Testing

.vscode/

img1.png
img2.png

megalinter-reports/